:root {
  --first-color: #faf07f;
  --second-color: #ffa061;
  --third-color: #fec081;
  --fourth-color: #f9f9fb;
  --fifth-color: #616161;
  --sixth-color: #bb2121;
  --shadow: 6px 6px 9px #00000031, -6px -6px 9px #a3a0a013;
  --shadow-inset: inset 6px 6px 9px #00000031, inset -6px -6px 9px #a3a0a025;
}

.app-footer {
  background: var(--first-color);
  border-top: 4px solid var(--second-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 36px 0 20px;
  text-align: center;
}
.app-footer p {
  font-size: 12px;
  color: var(--fifth-color);
  font-weight: 600;
  display: inline-block;
  margin: 0 20px 5px;
}
