:root {
  --first-color: #faf07f;
  --second-color: #ffa061;
  --third-color: #fec081;
  --fourth-color: #f9f9fb;
  --fifth-color: #616161;
  --sixth-color: #bb2121;
  --shadow: 6px 6px 9px #00000031, -6px -6px 9px #a3a0a013;
  --shadow-inset: inset 6px 6px 9px #00000031, inset -6px -6px 9px #a3a0a025;
}

.app-header {
  background: var(--first-color);
  padding: 5px 0;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  border-bottom: 4px solid var(--second-color);
}
.app-header img {
  color: var(--fifth-color);
  width: 16rem;
  margin-top: -50px;
  margin-bottom: -50px;
  float: left;
}
